{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "Python: Launch module",
      "type": "python",
      "request": "launch",
      "module": "{{ module_name | default('template_python_projekt') }}",
      "justMyCode": true
    }
  ]
}
